@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>IPTGram </title>
</head>
<body>
    <!-- nav bar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand bg-dark" href="/Home/Index/">IPTGram</a>
    </nav>
    

    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <!-- Coluna esquerda-->
                <!-- anuncio -->
                anuncio
            </div>
            <div class="col-10">
                <!-- Coluna central-->
                <div class="mx-auto" style="width: 500px;margin-top:50px;">
                    <!--Parte estática do detalhes-->
                    <img src="" id="image" class="img-fluid" alt="Responsive image" /><!--imagem do post-->
                    <br />
                    <span id="user"></span><br /><!--Nome do Utilizador-->
                    <span id="Legenda">
                        <!--Legenda do post-->
                    </span><br />
                    <span>
                        👍
                    </span><!--likes-->
                    <span id="likes"></span>
                    <br />
                    <br />
                    <br />
                    <div id="comments"></div><!--div para agrupar e escrever comentários-->

                </div>
            </div>
            <div class="col-sm-1">
                <!-- Coluna direita-->
                <!-- anuncio -->
                anuncio
            </div>
        </div>
    </div>
</body>

<script>
    var id = @ViewBag.id ;//recebe da viewbag o id
    function index() {
        $("#image").attr("src", 'https://ipt-ti2-iptgram.azurewebsites.net/api/posts/' + id + '/image');//dá set ao atributo src da imagem do post
        $.getJSON('https://ipt-ti2-iptgram.azurewebsites.net/api/posts/' + id, function (data) {
            var myDate = new Date(data.postedAt);
            $('#user').text(`${data.user.userName} &nbsp&nbsp&nbsp ${myDate.toLocaleString()}`);
            $('#Legenda').text(data.caption);
            $('#likes').text(`${data.likes}`);
        });
        $.getJSON('https://ipt-ti2-iptgram.azurewebsites.net/api/posts/' + id + '/comments', function (data) {
            data.forEach(create);

        });
    }
    function create(data, index) {
        var myDate = new Date(data.postedAt);
        $('#comments').append(`<div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">${data.user.name}</div>
                        <div class="card-body text-dark">
                            <p class="card-text">${myDate.toLocaleString()}</p>
                            <h5 class="card-title">${data.text}</h5>
                        </div>
                    </div>`);
    }
    index();
</script></html>
